table{
    text-align: center;
    border-collapse: collapse;
    font-family: Rockwell;

}

div#background{

    border-radius: 6px;
    width: 500px;
    text-align: center;
    font-family: Rockwell;
    font-weight: bold;
    padding-left: 450px;

}
div#verslag{
background-color: lightgray;
    border-radius: 4px;
}
#img{

    padding-left:300px;
}
img{
    width: 400px;
}
h2{
    font-family: Rockwell;
}
h1{
    font-family: Rockwell;
    text-align: center;
}
